#fondo{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.cuerpo{
    position:relative;
    z-index: 2;
}

nav{
    margin: 15px;
}

nav a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover{
    background-color: gray;
    color: white;
    text-decoration: none;
}