body{
    background-color: lightblue;
}

.cuerpoPrincipal{
    margin: 5% 20%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
}

.barraLarga{
    width: 190px;

}